<div class="modal modal-center fade" id="myModalFinish" tabindex="-1" role="dialog"
        aria-labelledby="modalInstructionLabel" aria-hidden="true" data-backdrop="static">
  
        <div class="modal-dialog modal_1ej" role="document">
          <div class="modal_1s3" id="modalFinishDialog">
            <div class="modal_3cL">
              <button type="button" data-dismiss="modal" aria-label="Close" class="close_3SY">
                <span aria-hidden="true">×</span>
              </button>
            </div>

            <div class="modal_1Kr">
              <div id="modalFinishLabel" class="modal_m8P"> Заказ успешно создан и принят в обработку!
              </div>
            </div>

            <div class="modal_1bQ">
              <div id="modalInstructionSteps">


                <div class="modal_3dm">
                  <div class="modal_1yMuN">
                    <div id="ticketdonetimer" style="width: 100%">
                      В течение 20 минут, после поступления Ваших денег на наш счет, она будет обработана и средства будут перечислены на указанный Вами счет или кошелек. <br><br>Отслеживать ее статус Вы можете в своем личном кабинете. Логин и пароль высланы на Ваш адрес Электронной почты. <br><br>Пожалуйста убедитесь, что Вы не только нажали на кнопку "Я оплатил", но и действительно перевели к нам средства.<br><br>По всем вопросам или в случае задержки обмена, обращайтесь в техническую поддержку.<br>С Уважением, администрация сайта!
                    </div>
                  </div>
                </div>
              </div>
              
            
            </div>
          </div>
        </div>
      </div>