<div class="modal modal-center fade" id="myModal" tabindex="-1" role="dialog"
        aria-labelledby="modalInstructionLabel" aria-hidden="true" data-backdrop="static">
  
        <div class="modal-dialog modal_1ej" role="document">
          <div class="modal_1s3" id="modalInstructionDialog">
            <div class="modal_3cL">
              <button type="button" data-dismiss="modal" aria-label="Close" class="close_3SY">
                <span aria-hidden="true">×</span>
              </button>
            </div>

            <div class="modal_1Kr">
              <div id="modalInstructionLabel" class="modal_m8P"> Для завершения обмена
                <br>следуйте инструкции:
              </div>
            </div>

            <div class="modal_1bQ">
              <div id="modalInstructionSteps">


                <div class="modal_3dm">


      <div class="lk_2n- modal_1yMuX">
        <div id="ticketdonetimer">Оплатите заявку в течении <span>10 мин. 18 сек. </span></div>
        
        <div class="lk_2n- modal_1yMuX">
                    <div class="lk_2iW">
                      <div class="lk_33k">
                        <span data-exchange-icon="input"></span>
                      </div>
                      <div class="lk_1sm">
                        <div class="lk_GUL">
                          <span data-exchange-value="input">412.43</span>
                          <span data-exchange-currency="input"> руб.</span>
                        </div>
                        <div class="lk_3L2" data-exchange-name="input">
                          СберОнлайн
                        </div>
                      </div>
                    </div>
                    <div class="lk_zu3">
                      <span class="lk_1qf" style=""></span>
                    </div>
                    <div class="lk_2iW">
                      <div class="lk_33k">
                        <span data-exchange-icon="output"></span>
                      </div>
                      <div class="lk_1sm">
                        <div class="lk_GUL">
                          <span data-exchange-value="output">0.01022</span>
                          <span data-exchange-currency="output">eth</span>
                        </div>
                        <div class="lk_3L2" data-exchange-name="output">Ethereum</div>
                      </div>
                    </div>
                  </div>          
        
      </div>

    </div>

    <div class="modal_3dm">


      <div class="lk_2n- modal_1yMuX" data-exchange-coeffburse="input">
        
      </div>

    </div>



    <div class="modal_3dm">
      <div class="modal_ADt">
        <div class="modal_YiD">1</div>
      </div>
      <div class="modal_3ts">
        
    <p>Сделать перевод по реквизитам:</p>
    <div class="modal_1yL">
      <div class="modal_21h">
        <div class="modal_3a_">Сумма:</div>
        <div class="modal_32i">
          <span data-exchange-value="input">412.43</span>
          <span data-exchange-currency="input"> руб.</span>
        </div>

      </div>
      <div class="modal_21h">
        <div id="instruction_field01" class="modal_3a_">Получатель:</div>
        <div class="modal_32i">
          <span data-exchange-personal="input">Артур Андреевич К.</span>
        </div>
        
      </div>
      <div id="instruction_field02" class="modal_21h">
        <div class="modal_3a_">Номер карты:</div>
        <div class="modal_32i">
          <span data-exchange-account="input">5469750014877305</span>
        </div>
      </div>
      <div id="instruction_field03" class="modal_21h">
        <div class="modal_3a_">Назначение:</div>
        <div class="modal_32i">
          <span>Не указывать никакое назначение платежа, что бы Банк не заблокировал карту</span>
        </div>
      </div>
    </div>
    
  
      </div>
    </div><div class="modal_3dm">
      <div class="modal_ADt">
        <div class="modal_YiD">2</div>
      </div>
      <div class="modal_3ts">
        После оплаты нажмите кнопку "Я оплатил"
      </div>
    </div></div>
              <div class="modal_1R7">
                <button class="buttons_1jS" id="modalInstructionBtn" >
                  <span class="buttons_1th">
                    <span class="buttons_2tj"></span>
                  </span> Я оплатил
                </button>

                <button data-dismiss="modal" class="buttons_3Kw"> Отмена</button>

                <div class="modal_2zZ" id="instuctionErrorContainer" style="display: none">
                  <p class="modal_2Ei">
                    <strong>Ошибка!</strong>
                  </p>

                  <ul id="instuctionErrorList"></ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>