<p id="notice"><%= notice %></p>

<p>
  <strong>Coeff procent:</strong>
  <%= @admin_converter.coeff_procent %>
</p>

<%= link_to 'Edit', edit_admin_converter_path(@admin_converter) %> |
<%= link_to 'Back', admin_converters_path %>
