  
<div class="main_3FS">
    <div data-block="main" class="main_xU-" style="height: 657.667px;">
        <div class="main_2eU">3. Ввод данных</div>
        <p class="main_2fW" data-course="container">
                  Обмен по курсу:
            <span id="course-input-value" data-course="input-value">1</span>
            <span id="input-currency" data-exchange-currency="input">btc.</span>
                   = 
            <span id="currency_exhange" data-course="output-value">17.515</span>
            <span id="output-currency" data-exchange-currency="output">eth</span>
        </p>
                
        <p class="main_2fW">
            <span id="coeffburse" data-exchange-coeffburse="input"></span>
        </p>
                
        <div class="main_1I3">
            <div class="main_3LV">
                <div class="main_1g8">
                    <span data-exchange-icon="input"></span>
                </div>
                <div id="form_cash_a_name" class="main_2BM" data-exchange-name="input">Bitcoin</div>
                <div class="main_22H">
                    <span data-exchange-value="input">1.07</span>
                    <span class="main_3g_" data-exchange-currency="input">btc.</span>
                </div>
            </div>
            <div class="main_3LV">
                <div class="main_2tS">
                    <span  data-exchange-icon="output"></span>
                </div>
                <div id="form_cash_b_name" class="main_2BM" data-exchange-name="output">Ethereum</div>
                <div class="main_22H">
                    <span  data-exchange-value="output">18.740744</span>
                    <span class="main_3g_" data-exchange-currency="output">eth</span>
                </div>
            </div>
        </div>
        <p>Введите данные для завершения обмена:</p>

        <div class="form_3hz" data-exchange-form="email">
            <label data-toggle="floatLabel" class="form_2Gw">
                <span class="form_3Mi">Введите Ваш e-mail</span>
                <input id="order-email" class="form_2nL">
            </label>
            <div class="form_qzZ">
                <span class="form_3R3"></span>
            </div>
        </div>

        <div class="tooltip tooltip-danger fade bottom in" role="tooltip" style="/*! width: 338.867px; */ /*! top: 290.2px; */ /*! left: 785px; */ display: none;" id="tooltip_email"><div class="tooltip-arrow" style="left: 50%;"></div><button type="button" class="tooltip-cross"></button><div class="tooltip-inner"><div class="tooltip-title">Ошибка!</div><div class="tooltip-text">Введите правильный E-mail</div></div></div>     
                    
        <div class="form_3hz" data-exchange-form="input-fullname" style="">
            <label data-toggle="floatLabel" class="form_2Gw">
                <span class="form_3Mi">ФИО отправителя</span>
                <input id="order-fullname" class="form_2nL"> </label>
            <div class="form_qzZ"></div>
        </div>

        <div class="tooltip tooltip-danger fade bottom in" role="tooltip" style="/*! width: 338.867px; */ /*! top: 290.2px; */ /*! left: 785px; */ display: none;" id="tooltip_fullname"><div class="tooltip-arrow" style="left: 50%;"></div><button type="button" class="tooltip-cross"></button><div class="tooltip-inner"><div class="tooltip-title">Ошибка!</div><div class="tooltip-text">Укажите ФИО</div></div></div>


        <div class="form_3hz" data-exchange-form="input-account" style="">
            <label data-toggle="floatLabel" class="form_2Gw">
                <span id="input-account-store" class="form_3Mi" data-exchange-form-label="input-account"></span>
                <input id="order-input-account-store" class="form_2nL">
            </label>
            <div class="form_qzZ">
                <span class="main_8sl">
                    <span id="input-account-store-icon" class="" data-exchange-icon="input"></span>
                </span>
            </div>
        </div>
        <div class="form_3hz" style="display:none" data-exchange-form="input-unk">
            <label data-toggle="floatLabel" class="form_2Gw">
                <span class="form_3Mi" data-exchange-form-label="input-unk">УНК, 6-8 цифр</span>
                <input class="form_2nL"> </label>
            <div class="form_qzZ">
            </div>
        </div>

        <div class="tooltip tooltip-danger fade bottom in" role="tooltip" style="/*! width: 338.867px; */ /*! top: 290.2px; */ /*! left: 785px; */ display: none;" id="tooltip_input_account_store"><div class="tooltip-arrow" style="left: 50%;"></div><button type="button" class="tooltip-cross"></button><div class="tooltip-inner"><div class="tooltip-title">Ошибка!</div><div class="tooltip-text">Введите реквизиты</div></div></div>
        
        
        <div class="form_3hz" data-exchange-form="output-account" style="">
            <label data-toggle="floatLabel" class="form_2Gw">
                <span id="output-account-store" class="form_3Mi" data-exchange-form-label="output-account"></span>
                <input id="order-output-account-store" class="form_2nL">
            </label>
            <div class="form_qzZ">
                <span class="main_8sl">
                    <span data-exchange-icon="output"></span>
                </span>
            </div>
        </div>
                

        <div class="tooltip tooltip-danger fade bottom in" role="tooltip" style="/*! width: 338.867px; */ /*! top: 290.2px; */ /*! left: 785px; */ display: none;" id="tooltip_output_account_store"><div class="tooltip-arrow" style="left: 50%;"></div><button type="button" class="tooltip-cross"></button><div class="tooltip-inner"><div class="tooltip-title">Ошибка!</div><div class="tooltip-text">Введите реквизиты</div></div></div>
        
        <div class="form_3hz fio_b_label" data-exchange-form="output-fullname" style="display: none">
            <label data-toggle="floatLabel" class="form_2Gw">
                <span class="form_3Mi">Номер банковской карты</span>
                <input class="form_2nL"> </label>
            <div class="form_qzZ"></div>
        </div>
        <div class="form_3hz" style="display:none" data-exchange-form="output-unk">
            <label data-toggle="floatLabel" class="form_2Gw">
                <span class="form_3Mi" data-exchange-form-label="output-unk">УНК, 6-8 цифр</span>
                <input class="form_2nL"> </label>
            <div class="form_qzZ"></div>
        </div>
        <label class="form_2Jr" style="display:none" data-exchange-form="switch_monero">
            <input value="1" name="switch_payment_id" class="form_1gq" data-exchange-field="switch_monero" type="checkbox">
            <span class="form_3U9"></span>
            <span class="form_nBB">
                Без Destination Tag                    </span>
        </label>
        <div class="form_3hz" style="display:none" data-exchange-form="output-bank">
            <label data-toggle="floatLabel" class="form_2Gw">
                <span class="form_3Mi">Название банка</span>
                <input class="form_2nL"> </label>
            <div class="form_qzZ"></div>
        </div>
        
        <label class="form_2Jr" data-exchange-form="agree">
            <input value="1" name="exchange_rule" checked="checked" class="form_1gq" data-exchange-field="agree" type="checkbox">
            <span class="form_3U9"></span>
            <span class="form_nBB">
                Я согласен с
                <a href="/pravila_obmena" target="_blank" rel="noopener noreferrer">
                    условиями и правилами сервиса
                </a>
            </span>
        </label>

        <button class="buttons_2FG" data-exchange-form1="submit" type="button" id="sendOrder">
            Обменять сейчас
        </button>
                
        <p>
        
            <div id="order-alert" class="alert alert-success" role="alert">
              Заявка успешна подана!
              </div>
            
        </p>    
    </div>          
</div>



<!--
<div id="my-modal" class="modal modal-dialog modal_1ej" role="document">
          <div class="modal_1s3">
            <div class="modal_3cL">
              <button type="button" data-dismiss="modal" aria-label="Close" class="close_3SY">
                <span aria-hidden="true">×</span>
              </button>
            </div>

            <div class="modal_1Kr">
              <div id="modalVer1Label" class="modal_m8P"> Внимание! Верификация карты.</div>
            </div>

            <div class="modal_1bQ">
              <p class="modal_12c"> Для совершения обмена в данном направлении в целях безопасности требуется
                верификация Вашей карты.
                <br>Верификация карты займет от 1 до 5 минут.</p>

              <p class="modal_12c">
                <button class="buttons_1jS" id="modalVer1ToVer2">
                  Перейти к верификации
                  <span class="buttons_2z8">
                      <span class="buttons_vsf"></span>
                  </span>
                </button>
              </p>

              <p class="modal_12c">
                <button class="buttons_VLE" data-dismiss="modal">
                  Отменить и выйти
                </button>
              </p>
            </div>
          </div>
        </div>

-->