
<p>
  <strong>Правила обмена:</strong>
  <%= @setting.pravila_obmena %>
</p>

<p>
  <strong>Контакты:</strong>
  <%= @setting.contact %>
</p>

<p>
  <strong>О сервисе:</strong>
  <%= @setting.about %>
</p>

<%= link_to 'Редактировать', edit_setting_path(@setting), :class => "btn btn-primary" %> 