<% if @novosti.count == 0 %>
	<h1>На данный момент новости отсутствуют</h1>
<% else %>

<h1>Новости о Биткоин и криптовалютах</h1>

<div class="row">
	<div class="col-sm-4">
		<% @novosti.each do |news| %>		
	
			<div class="row">
				<div class="col-sm-12">
					<%= l news.published_at, format: "%d %B %Y"  %><br><%= link_to news.title, :controller => "novosti", :id => "#{news.id}-#{news.title.parameterize}" %>
				</div>
			</div>
			<hr>

		<% end %>

	</div>
	<div class="col-sm-8">
			<h1>
			  <%= @news.title %>
			</h1>

			<p>

			  <%= raw(@news.body) %>
			</p>
	</div>
</div>

<% end %>
