<div class="Page-page--3xFv2">
	<div class="Page-content_default--2Z5OK">
		<div class="StaticWrapper-wrapper--12Smc">
			<div class="StaticWrapper-content--1TiKD">
				<div class="StaticWrapper-header--2C3pO">
					
				</div>
	
				<%= raw(@contact) %>

			</div>
		</div>
	</div>
</div>