
<div data-container="footer" class="footer_diK">
            <div class="footer_3Tw">
                <span class="footer_3Mt">
                    © 2018, Cryptoobmen.net — единый обмен валюты                </span>
                
            </div>

            <div class="footer_3s5">
                <%= link_to "Правила обмена", pravila_obmena_path %>
       
                <%= link_to "Контакты", contact_path %>
        
                <%= link_to "О сервисе", about_path %>

            </div>

            <div class="footer_1-U">
                <span class="footer_1XD" title="version">Сделано с душой</span>
            </div>
        </div>