<div data-container="header">
    <div class="header_14e">
	<div class="header_aWd">
	    <div class="header_312">
		<a class="header_1-Z" href="/">
		    <img src="/logo.png" alt="" class="header_sm_1YO" style="width: 55%">
		</a>
		<div class="header_37X">

		    <span class="userpanel_crownCirle">
			<span class="userpanel_crown"></span>
		    </span>
		    <span class="HW_badge_cont HW_visible">
			<span class="HW_badge HW_softHidden" data-count-unseen=""></span>
		    </span>
		</div>
	    </div>
	    <div class="navigation_WfZ">
		<a href="/news" target="_self" class="navigation_1VU" title="Новости">
		Новости
		</a>

	    </div>
	</div>
    </div>
</div>



